body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.my-stats {
  font-family: Arial, sans-serif;
  line-height: 1.5;
}

.my-stats h1 {
  text-align: center;
  margin-bottom: 20px;
}

.my-stats section {
  margin-bottom: 20px;
}

.my-stats ul {
  list-style: none;
  padding: 0;
}

.my-stats ul li {
  margin-bottom: 5px;
}
